.App {
	text-align: center;
}

.card {
	/* border: 1px solid black;
	padding: 10px; */
	text-align: center;
	width: 26%;
	margin: 10px;
	border-radius: 25px;
	border: 2px solid white;
	padding: 20px;
	background: rgb(100, 149, 237);
	background: linear-gradient(
		45deg,
		rgba(100, 149, 237, 1) 0%,
		rgba(135, 206, 240, 1) 100%
	);
}

#leftbox {
	float: left;
	background: lightsteelblue;
	width: 27.3%;
	height: 450px;
	background: rgb(100, 149, 237);
	background: linear-gradient(
		45deg,
		rgba(100, 149, 237, 1) 0%,
		rgba(135, 206, 240, 1) 100%
	);
}
#middlebox {
	float: left;
	background: lightsteelblue;
	width: 27.3%;
	height: 450px;
	background: rgb(97, 156, 193);
	background: linear-gradient(
		45deg,
		rgba(97, 156, 193, 1) 0%,
		rgba(180, 234, 247, 1) 100%
	);
}
#rightbox {
	float: left;
	background: lightsteelblue;
	width: 27.3%;
	height: 450px;
	background: rgb(218, 112, 214);
	background: linear-gradient(
		45deg,
		rgba(218, 112, 214, 1) 0%,
		rgba(216, 191, 216, 1) 100%
	);
}

#outerdiv {
	padding: 20px;
	/* display: grid; */
	place-items: center;
	align-content: center;
}

body {
	background-color: white;
	/* font-size: 1em; */
}

.button {
	background-color: white;
	border-color: white;
	border-radius: 5px;
	border: none;
	padding: 5px;
	margin: 3px;
	/* font-family: "Arial"; */
	/* font-weight: bold; */
	font-size: 0.9em;
}

h3 {
	text-align: center;
	font-size: 2em;
}

.select-bar {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 100%;
	padding: 2px;
	border-color: white;
}

#select-meal {
	width: 80%;
}

/* .calendar {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 80%;
	padding: 2px;
	border-color: white;
} */

#custom-food-input {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 80%;
	padding: 3px;
	border-color: white;
}

#food-bar {
	width: 80%;
}

#big-button {
	width: 50%;
	font-weight: bold;
}
