.App {
	text-align: center;
}

.outerdiv {
	position: relative;
	text-align: center;
	margin-left: 120px; /* Same as the width of the sidebar */
	padding: 0px 25px;
}

.card {
	/* border: 1px solid black;
	padding: 10px; */
	text-align: center;
	width: 20%;
	margin: 10px;
	border-radius: 25px;
	border: 2px solid white;
	padding: 20px;
	background: rgb(100, 149, 237);
	background: linear-gradient(
		45deg,
		rgba(100, 149, 237, 1) 0%,
		rgba(135, 206, 240, 1) 100%
	);
}

#leftbox {
	float: left;
	background: lightsteelblue;
	width: 24%;
	height: 400px;
	background: rgb(100, 149, 237);
	background: linear-gradient(
		45deg,
		rgba(100, 149, 237, 1) 0%,
		rgba(135, 206, 240, 1) 100%
	);
}
#middlebox {
	float: left;
	background: lightsteelblue;
	width: 24%;
	height: 400px;
	background: rgb(97, 156, 193);
	background: linear-gradient(
		45deg,
		rgba(97, 156, 193, 1) 0%,
		rgba(180, 234, 247, 1) 100%
	);
}
#rightbox {
	float: left;
	background: lightsteelblue;
	width: 24%;
	height: 400px;
	background: rgb(218, 112, 214);
	background: linear-gradient(
		45deg,
		rgba(218, 112, 214, 1) 0%,
		rgba(216, 191, 216, 1) 100%
	);
	/* adding scroll function  */
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#outerdiv {
	padding: 20px;
	/* display: grid; */
	place-items: center;
	align-content: center;
}

body {
	background-color: white;
	/* font-size: 1em; */
}

.button {
	background-color: white;
	border-color: white;
	border-radius: 5px;
	border: none;
	padding: 5px;
	margin: 3px;
	/* font-family: "Arial"; */
	/* font-weight: bold; */
	font-size: 0.9em;
	color: rgb(35, 51, 51);
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 2em;
	/* font-style: italic; */
	margin: 2px;
	padding: 20px;
	/* margin-left: auto;
	margin-right: auto; */
	color: rgb(25, 29, 29);
	text-decoration: underline;
}

.select-bar {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 100%;
	padding: 2px;
	border-color: white;
}

#select-meal {
	width: 50%;
}

#custom-food-input {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 80%;
	padding: 3px;
	border-color: white;
	text-align: center;
}

#food-bar {
	width: 80%;
}

#big-button {
	width: 50%;
	font-weight: bold;
	/* font-style: italic; */
}

.datetime {
	border-radius: 5px;
	margin: 2px;
	font-size: 0.9em;
	width: 50%;
	padding: 3px;
	border: none;
	font-family: "Arial";
	text-align: center;
}

.button:hover {
	background-color: #a5b0e0;
	color: white;
}

#bottom-div {
	background: rgb(173, 166, 166);
	background: linear-gradient(
		0deg,
		rgba(173, 166, 166, 1) 0%,
		rgba(203, 194, 194, 1) 100%
	);
	display: grid;
	width: 60%;
	height: 250px;
	margin: 20px;
	border-radius: 25px;
	border: 2px solid white;
	padding: 20px;
	/* place-items: center; */
	align-content: left;
	margin: auto;
	color: white;
}

h4 {
	text-align: center;
}

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 120px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: rgb(70, 70, 70); /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #adadad;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 120px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}

#individual-food-log-div {
	padding: 5px;
}
